.home-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
    
}

.left-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
    background: linear-gradient(-45deg, #5a2313, #4d142a, #283f49, #484568);
    background-size: 400% 400%;
    transition: all 0.2s;
    color: blanchedalmond;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
    text-decoration: none;
  
}

.right-cont {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    background: linear-gradient(-45deg, #ee7752, #8d6d79, #08608a, #552f2f);
    background-size: 400% 400%;
     transition: all 0.2s;
     color: blanchedalmond;
     text-align: center;
     font-size: 20px;
     font-style: oblique;
    
}

.right-cont:hover {
    transition: all 0.2s;
    cursor: pointer;
    width: 130%;
    animation: gradient .9s ease infinite;
    
   
}

.left-cont:hover {
    transition: all 0.2s;
    animation: gradient .9s ease infinite;
    cursor: pointer;
    width: 130%;
   
    
   
   
}

.img-left {
    width: 440px;
   

}

.img-right {
    width: 400px;
    margin-top:7%;
    


}

.ult-p {
    margin-top: 15%;
}

.img-cont p {
    background-color: black;
    padding: 3px;
}

.kirby {
    width: 80px;
    position: fixed;
    top: 20%;
    padding-right: 20%;
}



.luigi {
    position: fixed;
    width: 110px;
    top: 30%;
    padding-right: 21%;
}





@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}